<!-- templates/notes.html -->
{% extends 'layout.html' %}

{% block title %}Study Notes{% endblock %}

{% block content %}
    <div class="content-header">
        <h2>Study Notes</h2>
        <p>Find notes for various subjects below. Click to download.</p>
    </div>
    <ul class="file-list">
        {% for file in files %}
            <li>
                <a href="{{ url_for('download_note', filename=file) }}">
                    <span class="file-icon">&#128196;</span> {{ file }}
                </a>
            </li>
        {% else %}
            <li class="empty-message">No notes have been uploaded yet.</li>
        {% endfor %}
    </ul>
{% endblock %}